/* ===== Home Styles ===== */
.home {
  background-image: linear-gradient(to right, rgb(46, 46, 46), rgb(87, 50, 1), rgb(46, 46, 46) );
}

#gaylord {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.mainContentBox h4, .mainContentBox p {
  font-style: italic;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

#stevieBoi, #stevieBoi:before, #stevieBoi:after  {
  color: rgba(255, 255, 255);
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  position: relative;
  font-family: 'Playfair Display', serif;
}

#stevieBoi:before {
  content: '';
  position: absolute;
  top: -12px;
  left: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}

#stevieBoi:before {
  animation: borderTopRight 1s linear forwards;
}

@keyframes borderTopRight {
  0% {
    width: 0;
    height: 0;
    border-top-color: rgba(255, 255, 255);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    border-top-color: rgba(255, 255, 255);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: rgba(255, 255, 255);
    border-right-color: rgba(255, 255, 255);
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

#stevieBoi:after {
  content: '';
  position: absolute;
  top: -12px;
  left: -2px;
  width: 0;
  height: 0;
  border: 2px solid transparent;
}

#stevieBoi::after {
  animation: borderLeftBottom 1s linear forwards;
  animation-delay: 1s;
}

@keyframes borderLeftBottom {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgba(255, 255, 255);
  }
  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: rgba(255, 255, 255);
  }
  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: rgba(255, 255, 255);
    border-left-color: rgba(255, 255, 255);
  }
}

/* ===== Main Styles ===== */
.mainBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.698);
}

.mainContentBox {
  border-style: solid;
  border-color: rgb(87, 50, 1);
  height: 100%;
  text-align: center;
  padding-top: 30%;
}

#gaylord {
  font-size: 60px;

}

#stevieBoiHero {
  height: auto;
}

/* ===== About Styles ===== */

.aboutBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.698);
}

#aboutTitle {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 48px;
}

#aboutSubHeader {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.card-img-overlay {
  position: absolute;
  top: 25%;
  text-align: center;
  font-family: 'Playfair Display', serif;
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
}

.aboutImg {
  opacity: .4;
}

.aboutTopRow {
  margin-bottom: 15px;
}

.aboutTopRow:hover {
  background-color: rgba(0, 0, 0);
}


/* ===== Portfolio Styles ===== */

.portfolioBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.698);
}

/* ===== Band Promo Styles ===== */

.bandPromoBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.698);
  margin-bottom: 15px;
}