/* ===== Home Styles ===== */
.home {
  background-image: linear-gradient(to right, rgb(46, 46, 46), rgb(87, 50, 1), rgb(46, 46, 46) );
}

#stevieBoi {
  /* color: rgba(255, 255, 255, 0.698); */
  color: white;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.698);
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}

/* ===== Main Styles ===== */
.mainBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  /* background-color: rgba(179, 179, 179, 0.698); */
  background-color: rgba(255, 255, 255, 0.698);
}

.mainContentBox {
  border-style: solid;
  border-color: rgb(87, 50, 1);
  height: 100%;
  text-align: center;
  padding-top: 30%;
}

#gaylord {
  font-size: 60px;

}

#stevieBoiHero {
  height: auto;
}

/* ===== About Styles ===== */

.aboutBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.698);
}

/* ===== Portfolio Styles ===== */

.portfolioBox {
  padding: 30px;
  margin-top: 15px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.698);
}